<div class="mt-5 pt-5 pb-5 footer sticky-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12 about-company">
          <h2>GrabDeals</h2>
          <p class="pr-5 text-white-50">Grab the best deals </p>
          <p>
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square mr-3"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin-square mr-3"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram mr-3"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter "></i></a>        
        </p>
        </div>
        <div class="col-sm-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">Links</h4>
            <ul class="m-0 p-0">
              <li> <a href="#">About Us</a></li>
              <li> <a href="#">Privacy Policy</a></li>
              <li> <a href="#">Terms of Use</a></li>
              <li> <a href="#">Site Map</a></li>
              
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 more">
          <h4 class="mt-lg-0 mt-sm-3">More..</h4>
          
            <ul class="m-0 p-0">
                <li> <a href="#">Brand Offers</a></li>
                <li> <a href="#">Gift Cards</a></li>
                <li> <a href="#">Festival Offers</a></li>
                <li> <a href="#">Bank Offers</a></li>
                
              </ul>
              <br>
        </div>
        <div class="col-sm-3 col-xs-12 contact">
          <h4 class="mt-lg-0 mt-sm-3">Contact</h4>
          <i class="fa fa-envelope-o mr-3"></i>
          <a href="mailto:grabdeals@gmail.com">grabdeals@gmail.com</a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col copyright">
          <p class=""><small class="text-white-50">&copy;2021. GrabDeals. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
    </div>
    