.container {
    padding: 50px 50px; 
    background-color: #f3f3f0;
}
.d-flex{
    display:inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding:0 0 5px 0;
}
.title{
    color: #5e5c5c;
}
p{
    padding: 0 10px;
}
a{
    padding-bottom:5px;
}
.page-heading{
    background-image: linear-gradient(darkgreen,green,limegreen);
    padding: 0.5rem ;
    color: white;
    text-align: center;
}
